@font-face {
	font-family: 'Geomanist';
	src: url('geomanist-light.woff2') format('woff2'),
		url('geomanist-light.woff') format('woff'),
		url('geomanist-light.ttf') format('truetype'),
		url('geomanist-light.svg#geomanistregular') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Geomanist';
	src: url('geomanist-regular.woff2') format('woff2'),
		url('geomanist-regular.woff') format('woff'),
		url('geomanist-regular.ttf') format('truetype'),
		url('geomanist-regular.svg#geomanistregular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Geomanist';
	src: url('geomanist-medium.woff2') format('woff2'),
		url('geomanist-medium.woff') format('woff'),
		url('geomanist-medium.ttf') format('truetype'),
		url('geomanist-medium.svg#geomanistregular') format('svg');
	font-weight: 600;
	font-style: normal;
}
